<div class="d-flex justify-content-center">
  <div class="w-100" style="max-width: 700px">
    <form [formGroup]="form" class="mb-0 position-relative">
      <div class="input-group">
        <input
          type="text"
          class="form-control bg-dark text-white placeholder-glow rounded-start border-white"
          formControlName="search"
          placeholder="Search cinemas by name, city, or zip code..."
        />
        <span class="input-group-text bg-dark border-white rounded-end">
          <i class="bi bi-search text-white"></i>
        </span>
      </div>
      @if (form.get('search')?.value) {
      <ul class="list-group shadow mt-1 position-absolute w-100 bg-dark" style="z-index: 1000">
        @if (searchResults.isLoading()) {
        <li class="list-group-item bg-dark text-center text-white">
          <div class="spinner-border text-white spinner-border-sm me-2" role="status"></div>
          Searching cinemas...
        </li>
        }@else if (searchResults.error()) {
        <li class="list-group-item list-group-item-danger">
          Oops! Something went wrong. Please try again later.
        </li>
        }
        @else if (searchResults.value().length) { @for (cinema of searchResults.value(); track cinema.id)
        {
        <li
          class="list-group-item list-group-item-dark list-group-item-action"
          [routerLink]="['/cinemas', cinema.id]"
        >
          <strong>{{ cinema.name }}</strong> – {{ cinema.city }} – {{ cinema.address }}
        </li>
        } } @else {
        <li class="list-group-item list-group-item-warning">
          No cinemas found. Try another keyword.
        </li>
        }
      </ul>
      }
    </form>
  </div>
</div>
